In [1]:
CREATE TABLE contact (
    id INT UNSIGNED PRIMARY KEY NOT NULL,
    name VARCHAR(50) NOT NULL,
    age SMALLINT UNSIGNED NOT NULL
);

Query OK

In [3]:
INSERT INTO contact (id, name, age)
VALUES (1 , "Jan", 40);

Query OK

In [4]:
SELECT * FROM contact;

1|Jan|40