In [1]:
CREATE TABLE contact (
    id INT UNSIGNED PRIMARY KEY NOT NULL,
    name VARCHAR(50) NOT NULL,
    age SMALLINT UNSIGNED NOT NULL
);

Query OK

In [2]:
INSERT INTO contact (id, name, age)
VALUES (1 , 'Jan', 40);

Query OK

In [3]:
SELECT * FROM contact;

┌────┬──────┬─────┐
│ id │ name │ age │
├────┼──────┼─────┤
│ 1  │ Jan  │ 40  │
└────┴──────┴─────┘

In [4]:
.mode json

Query OK

In [5]:
SELECT * FROM contact;

[{"id":1,"name":"Jan","age":40}]